.landing-root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  background-color: rgb(253, 217, 175);
}

.name {
  /* margin-top: -200px; */
  font-size: 40px;
  color: rgb(29, 29, 29);
  font-weight: 700;
  font-family: Abril;
  word-spacing: 5px;
  animation: easeNameUP 0.7s forwards;
}

.before {
  height: 20px;
  width: 600px;
  background-color: black;
  opacity: 0;
  animation: easeBlockOut 2s forwards;
  animation-delay: 1s;
}
.after {
  height: 20px;
  width: 600px;
  background-color: black;
  opacity: 0;
  animation: easeBlockIn 2s forwards;
  animation-delay: 1s;
}

@keyframes easeNameUP {
  0% {
    opacity: 0;
    margin-top: 200px;
  }
  100% {
    opacity: 100;
    margin-top: 0px;
  }
}

@keyframes easeBlockIn {
  0% {
    margin-right: 800px;
    opacity: 0;
  }
  100% {
    opacity: 100;
    margin-right: -800px;
  }
}

@keyframes easeBlockOut {
  0% {
    margin-right: -800px;
    opacity: 0;
  }
  100% {
    opacity: 100;
    margin-right: 900px;
  }
}
